html {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  box-shadow: none;
}

.splash {
  color: white;
  font-family: dosis;
  width: 100%;
  position: absolute;
  margin: auto;
  text-align: center;
  margin-top: 5%;
}

.splash h1 {
  font-size: 7em;
  margin: 50px;
}
