body {
  font-family: Roboto;
  min-height: 100%;
}

.navbar {
  padding: 10px 50px;
}

.content {
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
}

.header {
  text-align: center;
  margin: 50px;
}

.login {
  width: 50%;
  margin: auto;
}

.footer {
  padding: 15px;
  text-align: center;
  background-color: orange;
  width: 100%;
}

.page-bottom {
  position: absolute;
  overflow: hidden;
  left: 0;
  bottom: 0;
  height: 50px;
}

.feed {
  display: flex;
  flex-flow: row wrap;
}

.feed > div {
  width: 300px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.feed img {
  max-width: 100%;
}
